a.out
a.exe
*.out
*.exe
.vscode

tmp.*
.cph

.gradle
build
!gradle-wrapper.jar
.idea
*.iml
out
*.class
*.log
hs_err_pid*
bin
.vscode
.settings
.classpath
.project

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
Footer

.attach_pid78811
*.bin
